# PosgreSQL Database URL
DATABASE_URL=

# The escrow contract ID to listen to
SOROBAN_ESCROW_CONTRACT_ID=
# The SAC (Soroban Asset Contract) ID used in the escrow
STELLAR_ASSET_CONTRACT_ID=
# Stellar Asset Code + Issuer for price fetching
STELLAR_ASSET_ID=

# Explorer Configuration (e.g., https://stellar.expert/explorer/testnet)
STELLAR_EXPLORER_BASE_URL=
# Stellar Expert API Base URL
STELLAR_EXPERT_BASE_URL=

# (Optional) Dashboard GitHub repository URL
DASHBOARD_REPOSITORY_URL=
# (Optional) Notifier bot Twitter URL
NOTIFIER_TWITTER_URL=